---
title:            Authors
date:             2020-01-02 01:23:45 -0800
author_bio:       "<p>We're still working on this bio!</p>"
permalink:        /people/    # trailing slash makes it an `index.html` file inside the `/people/` directory, rather than a `people.html` file in the root
excerpt:          ""
---

{% if site.show.authors-%}
  {% assign peeps = site.collections | where: "label", 'people' | first-%}
  {% if peeps.output-%}
    <p>Our wonderful authors love to share tales of wonder and zeal. Sometimes they go overboard and fall into the waters of silliness or cynicism. We hope you do understand, and take that into the highest consideration.</p>
    <hr class="major"/>
    {% if site.show.authors %}
      {% for author in site.people %}
        {%-if author.published %}
          {% include author.html %}
        {%-else-%}
          {% include author.html excerpt=page.author_bio %}
        {%-endif %}
        <hr class="major"/>
      {% endfor %}
    {% endif %}
  {% endif %}
{%-else-%}
  {% include 404.html %}
{%-endif-%}