---
title:            Posts
permalink:        /posts/     # trailing slash makes it an `index.html` file inside the `/posts/` directory, rather than a `posts.html` file in the root
---

<p>Hey, check out our many posts on diverse topics and interests. You can also check out the full list in our <a href="/archives">archives</a>.</p>
            <hr class="major"/>
            {% include pagination.html %}
            <br/>
            {% include posts.html %}
            {% include pagination.html %}
