*.gem
.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
Gemfile.lock
vendor
Rakefile
.DS_Store

/.ruby-version
/.ruby-gemset
/localhost-cert
/node_modules
/.env
README-local.md

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
