{%-assign peeps         = site.collections      | where: "label", 'people' | first-%}
{%-assign placeholder   = site.static_files     | where: 'name', 'placeholder.png' | first-%}
{% if paginator.posts != nil and site.paginate %}
  {% assign posts       = paginator.posts %}
{% elsif page.layout == "page" %}
  {% assign posts       = site.posts %}
{% else %}
  {% assign posts       = page.posts %}
{% endif %}

{% for post in posts %}
            <article itemid="{{-post.url|absolute_url-}}" class="h-entry post-card row gtr-50 gtr-uniform" itemscope itemtype="http://schema.org/BlogPosting">
            {% if image or placeholder.name-%}
              <div class="col-4 col-12-small">
                <figure>
                  <a href="{{-post.url-}}" class="image fit" title="Read '{{-post.title-}}'">
                    {% include item_image.html %}
                  </a>
                </figure>
                <div class="snug smaller categories">{%-include categories.html %}</div>
              {%-if post.series %}
                <div class="snug series">{{-post.series | replace: '-',' ' | capitalize-}}</div>
              {%-endif %}
              </div>
            {%-endif %}
              <div class="col-8 col-12-small">
                {%-assign modified_date = post.modified_date | default: post.last_modified_at-%}
              {%-if modified_date-%}
                {% include date_modified.html item_date=modified_date lead_in='last modified: '-%}
              {%-endif %}
                <header class="tight">
                  <span class="header-aside">{% include item_date.html %}</span>
                  <h3><a href="{{-post.url-}}" itemprop="headline" class="u-url p-name" title="Read '{{-post.title-}}'">{{-post.title-}}</a></h3>
                  {% if post.subtitle-%}<p class="subtitle p-subtitle" itemprop="alternativeHeadline">{{-post.subtitle-}}</p>{%-endif %}
                  <p class="byline">
                  {%-if site.show.authors-%}
                    {%-for auth in post.author-%}
                      {%-assign author = site.people | where: 'handle', auth | first-%}
                      {%-if author.published and peeps.output-%}
                        <a href="{{-author.url-}}" rel="author" itemprop="author" class="u-author p-author" title="Read {{ author.name | split: ' ' | first-}}'s bio">{{-author.name-}}</a>
                      {%-elsif author.published-%}
                        <span itemprop="author" class="p-author">{{-author.name-}}</span>
                      {%-else-%}
                        <span itemprop="author" class="p-author">{{-auth-}}</span>
                      {%-endif-%}
                      {%-unless forloop.last %}, {% endunless-%}
                    {%-else-%}
                      <span itemprop="author" class="p-author">{{-site.title-}}</span>
                    {%-endfor-%}
                    {%-if post.location and post.author or site.title-%}{{-"&nbsp; | &nbsp;"-}}{%-endif-%}
                  {%-endif-%}
                  {%-if post.location-%}
                    <span class="p-location" itemprop="location" title="Post location">{{-post.location-}}</span>
                  {%-endif-%}
                  </p>
                </header>
                <p class="summary" itemprop="abstract" class="p-summary">{{-post.excerpt | strip_html-}}</p>
                {%-include tags.html %}
              </div>
            </article>
            <hr class="major"/>
{% endfor %}
