{%-assign search_url  = include.search_url  | default: site.search.url          | default: "/search"-%}
{%-assign form_method = include.form_method | default: site.search.form_method  | default: "post"-%}
{%-assign field_id    = include.field_id    | default: site.search.field_id     | default: "query"-%}
{%-assign field_name  = include.field_name  | default: site.search.field_name   | default: "search"-%}
{%-assign placeholder = include.placeholder | default: site.search.placeholder  | default: "Search"-%}
<!-- Section - Search -->
          <section id="search" class="alt">
            <form method="{{-form_method-}}" action="{{-search_url-}}">
              <input type="text" name="{{-field_name-}}" id="{{-field_id-}}" placeholder="{{-placeholder-}}" />
            </form>
          </section> <!-- End Section - Search -->
