/* Header */

	#header {
		@include vendor('display', 'flex');
		border-bottom: solid 5px _palette(accent);
		padding: 6em 0 1em 0;
		position: relative;

		> * {
			@include vendor('flex', '1');
			margin-bottom: 0;
		}

		+ .dateline {
			margin: 0.75em 0 -2.4em 0;
		}
		+ .post-nav {
			@include vendor('display', 'flex');
			justify-content: space-between;
			margin: 0.5em 0 -2.65em 0;
		}

		.logo {
			border-bottom: 0;
			color: inherit;
			font-family: _font(family-heading);
			font-size: 1.125em;
		}

		.icons {
			text-align: right;
		}

		@include breakpoint('<=xlarge') {
			padding-top: 5em;
		}

		@include breakpoint('<=small') {
			padding-top: 6.5em;

			.logo {
				font-size: 1.25em;
				margin: 0;
			}

			.icons {
				height: (6.25em / 1.25);
				line-height: (6.25em / 1.25);
				position: absolute;
				right: (-0.625em / 1.25);
				top: 0;
			}
		}
	}